*{
    margin: 0;
    padding: 0;
}
.sectionone-img{
    width: 280px;

}
.sectionone-container{
    background-color: #E554731A;
    display: flex;
    justify-content: space-around;

}
.img{
    margin-top: 60px;
    
   
}
.sectionone-text{
    margin-top: 60px;
}
.sectionone-paragraph, featured-paragraph{
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;


}
.btn{
margin-top: 10px;
border-radius: 5px;
background: #E55473;
padding: 10px;
border: none;
color: white;
width: 120px;
height: 40px;
cursor: pointer;
}
.sectionone-title{
    color: #272727;
    font-size: 40px;

}
.sectiontwo-box{
    width: 250px;
    height: 280px;
    border-radius: 120px 120px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-top: 20px;
   
    
    
}
.img-one{
    width: 140px;
    margin-left: 50px;
    margin-top: 86px;
}
.sectiontwo-container{
    display: flex;
    justify-content: space-around;
    margin: 240px;
    margin-top: 20px;
    

}
.img-three{
    width: 160px;
    margin-left: 50px;
    margin-top: 40px;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
}
.featured-paragraph{
    text-align: center;
    margin-top: 30px;
}
.box-name{
    color: #272727;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 20px;
}
.middlebox-name{
    margin-top: 73px;
}
.bike{
    width: 200px;
}
.sectionthree-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: rgba(39, 39, 39, 0.05);
    height: 250px;
    align-items: center;
    margin: 100px;
    margin-top: 40px;
}
.title{
    text-align: center;
    
   
}
.home{
    margin-bottom: 10px;
}
.sectionthree-paragraph{
    margin-bottom: 10px;
}
.discount{
    color: #E55473;
}
.sectionfour-container{
    display: flex;
    justify-content: space-around;
    background-color:  rgba(229, 84, 115, 0.05);
    margin-top: 50px;
    align-items: center;
    height: 380px;
    padding: 50px;
}
.containerfour-paragraph{
    text-align: center;
}

.hot-deal{
    text-align: center;
}

.sectionfour-text{
    text-align: center;
}
.containerfour-img{
    width: 100px;
    margin-right: 400px;
    align-items: center;
}
.flower-pot{
width: 190px;

}
.rose{
    width: 180px;
    margin-right: 10px;

}
 .pht{
    margin-left: 250px;
    margin-top: 30px;

 }