* {
    margin: 0;
    padding: 0;
}

.sectionone-img {
    width: 400px;
    vertical-align: bottom;
    margin-right: 30px;
    margin-top: 25px;

}

.sectionone-container {
    background-color: #E554731A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sectionone-text {
    margin-left: 100px;


}

.sectionone-paragraph {
    margin-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;


}

.btn {
    margin-top: 10px;
    border-radius: 5px;
    background: #E55473;
    padding: 10px;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.sectionone-title {
    color: #272727;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    line-height: normal;

}

/* section one finished */

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
}
.featured-paragraph {
    text-align: center;
    margin-top: 25px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.sectiontwo-container{
    display: flex;
    margin: 20px  240px;
    

}
.sectiontwo-boxone{
    width: 260px;
    height: 290px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin: 10px;

}
.sectiontwo-boxtwo{
    width: 260px;
    height: 290px;
    background-color:  rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin: 10px;

}
.sectiontwo-boxthree{
    width: 260px;
    height: 290px;
    background-color:  rgba(71, 125, 17, 0.15);   
    border-radius: 300px 300px 0px 0px;
    margin: 10px;

}
.img-one{
    width: 170px;
    margin-left: 45px;
    margin-top: 55px;
}
.img-three{
    width: 170px;
    margin-left: 50px;
    margin-top: 35px;
}

.sectionthree-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: rgba(39, 39, 39, 0.05);
    height: 250px;
    align-items: center;
    margin: 100px;
    margin-top: 40px;
}
.bike {
    width: 200px;
}

.title {
    text-align: center;
    font-family: 'Lato', sans-serif;


}

.home {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.sectionthree-paragraph {
    margin-bottom: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.discount {
    color: #E55473;
}

.sectionfour-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 50px;
    align-items: center;
    height: 380px;
    padding: 50px;
}

.containerfour-paragraph {
    text-align: center;
}

.hot-deal {
    text-align: center;
}

.sectionfour-text {
    text-align: center;
}

.containerfour-img {
    width: 100px;
    margin-right: 400px;
    align-items: center;
}

.flower-pot {
    width: 190px;

}

.rose {
    width: 180px;
    margin-right: 10px;

}

.pht {
    margin-left: 250px;
    margin-top: 30px;

}

.input {
    text-align: center;
}

.subscribe {
    background-image: url('./Rectangle\ 9.png');
    width: 1100px;
    height: 800px;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

.text {
    text-align: center;
}

.last {
    text-align: center;

}

.deal {
    margin-top: 100px;
    align-items: center;
}

.color {
    color: #E55473;
}

.last-part {
    background-color: #111010;
    color: white;
    width: 1300px;
    height: 200px;
    margin-top: 50px;

}

.copywrite {
    text-align: center;

}

.clr {
    color: rgba(255, 255, 255, 0.40);
}

.lr {
    color: rgba(255, 255, 255, 0.90);
}

h1 {
    margin-top: 40px;
}